﻿<div id="contextMenu" style="display: none;">
    <ul>
        <li  data-action="edit" class="menu-items">  Edit</li>
        <li  data-action="delete" class="menu-items">  Delete</li>
    </ul>
</div>