<div class="form-group">
    <label>Sort Order:</label>
    <select class="select2" style="width: 100%;">
        <option selected>ASC</option>
        <option>DESC</option>
    </select>
</div>
<script>
    $(function () {
        $('.select2').select2()
    });
</script>